.container {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  position: relative;
}
.container img {
  width: 58px;
  height: 58px;
  margin-top: 4px;
  border-radius: 50%;
}
.icon {
  width: 18.5px;
  height: 18.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.text {
  font-size: 12px;
  text-align: center;
  /* font-weight: 600; */
  color: #262626;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

@media screen and (min-width: 736px) {
  .container {
    display: none;
  }
}
