.header-search-m input {
  width: 215px;
  height: 30px;
  background-color: #fafafa;
  color: #262626;
  border: none;
  border: 1px solid #dbdbdb;
  outline: none;
  border-radius: 6px;
  padding: 4px 12px 4px 22px;
}
.header-search-m input::-webkit-search-cancel-button {
  display: none;
}
.header-search-m {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-searchlabel-mx,
.floating-searchicon-mx {
  color: #989ba1;
  position: absolute;
  pointer-events: none;
  left: calc(50% - 30px);
  top: calc(50% - 10px);
  font-size: 14px;
  font-weight: 400;
}
.header-search-m input:focus {
  border: 1px solid #a6a6a6;
}

.cancel-btn {
  width: 54px;
  padding-left: 12px;
  color: #262626;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.floating-searchlabel-m,
.floating-searchicon-m {
  color: #989ba1;
  position: absolute;
  pointer-events: none;
  left: calc(50% - 54px);
  top: calc(50% - 10px);
  font-size: 14px;
  font-weight: 400;
}
.header-search-m input:focus ~ .floating-searchlabel-m {
  color: #989ba1;
  left: 10px;
  display: none;
}
.header-search-m input:focus ~ .floating-searchicon-m {
  color: #989ba1;
  left: 10px;
}
