.wrapper {
  width: 100%;
  height: 61px;
  padding: 12px 0;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #dbdbdb;
}
.innerDiv {
  min-width: 141.52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerDiv span:nth-child(2) {
  font-size: 14px;
  color: #8e8e8e;
}
.span1 {
  font-size: 14px;
  color: #262626;
  font-weight: 500;
}

@media screen and (min-width: 735px) {
  .wrapper {
    display: none;
  }
}
