@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
  background-color: #fafafa;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.insta-written-logo {
  display: flex;
  justify-content: center;
  margin: 7px 0 10px 0;
}

.login-card-1 {
  width: 350px;
  height: 380px;
  border: 1px solid #dedede;
  padding: 10px 0;
  margin: 15px 0 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}
.login-card-2 {
  width: 350px;
  height: 63px;
  border: 1px solid #dedede;
  padding: 10px 0;

  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
}
.login-card-2-text {
  margin: 12px 15px 15px 15px;
}
.login-wrapper-main {
  min-height: calc(100% - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 348px;
  height: 263px;
  margin-top: 13px;
}
.login-input {
  width: 268px;
  height: 38px;
  padding: 16px 0 2px 8px;
  font-size: 12px;
  font-family: "San Francisco";
  color: #262626;
  background-color: #fafafa;
  border: 1px solid #dedede;
  outline: none;
  border-radius: 3px;
}

.input-div {
  position: relative; /*  make label relate to div  */
  padding-top: 10px; /*  make space for label      */
  margin-bottom: -4px;
}
.floating-label {
  font-size: 12px;
  color: #989ba1;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 21px;
  transition: 0.1s ease all;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  font-size: 10px;
  color: #989ba1;
  top: 14px;
  margin-bottom: 5px;
}

.login-input:focus {
  border: 1px solid #989ba1;
}

.login-button {
  width: 268px;
  height: 30px;
  margin: 18px 0 10px 0;
  padding: 5px 9px;
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}
.login-button:disabled,
.login-button[disabled] {
  background-color: #b2dffc;
}
.login-or-wrapper {
  width: 268px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-self: center;
  margin: 10px;
}
.login-or {
  font-size: 13px;
  margin: 0 18px;
  color: #8e8e8e;
  font-weight: 600;
}
.login-or-line {
  flex-grow: 1;
  min-width: 107.05;
  height: 1px;
  align-self: center;
  background-color: #dbdbdb;
}
.login-fb {
  width: 268px;
  height: 20px;
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-fb-text {
  text-align: center;
  color: #385185;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
}
.login-forget-pass {
  width: 348px;
  height: 15px;
  font-size: 12px;
  color: #00376b;
  text-align: center;
}

.signup-card-1 {
  width: 350px;
  height: 542px;
  border: 1px solid #dedede;
  padding: 10px 0;
  margin: 15px 0 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}
.signup-text1 {
  width: 268px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: #8e8e8e;
  margin: -15px 40px 10px;
}
.signup-fb {
  width: 268px;
  height: 32px;
  margin: 14px 0;
  /* padding: 15px 9px; */
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.signup-fb-text {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
}
.signup-tc {
  width: 268px;
  /* height: 32px; */
  margin: -22px 40px;
  color: #8e8e8e;
  font-size: 12px;
  text-align: center;
}
.signup-tc-bold {
  font-weight: 500;
}

/* header */
.header-wrapper {
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #ffffff;
}
.header-container {
  width: 975px;
  height: 54px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  margin-right: 257px;
  margin-top: auto;
  margin-bottom: 5px;
}

.header-search input {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  border: none;
  border: 1px solid #dbdbdb;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  padding-left: 35px;
}
.header-search input::-webkit-search-cancel-button {
  display: none;
}
.header-search {
  position: relative;
  margin-right: auto;
}

.floating-searchlabel,
.floating-searchicon {
  color: #989ba1;
  position: absolute;
  pointer-events: none;
  left: calc(50% - 30px);
  top: calc(50% - 10px);
  font-size: 14px;
  font-weight: 300;
  /* transition: 0.1s ease all; */
}
.header-search input:focus ~ .floating-searchlabel {
  /* font-size: 14px; */
  color: #989ba1;
  left: 20px;
  display: none;
  /* margin-bottom: 5px; */
}
.header-search input:focus ~ .floating-searchicon {
  color: #989ba1;
  left: 20px;
}
/* .header-search input:not(:focus):valid ~ .search-clear {
  visibility: hidden;
} */

/* .header-search input::target-text{
 display: ;
} */
.header-icon-container {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  width: 222px;
  height: 22px;
  padding-left: 24px;
}
.header-icon-container-img {
  margin-right: 22px;
}

/* user image border */
/* .header-profile-img {
  height: 28px;
  width: 28px;
  border: 1px solid #282828;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
} */
.header-profile-img img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  cursor: pointer;
}
/* .header-profile-img:hover {
  height: 28px;
  width: 28px;
} */

.profile-drowndown-sec {
  height: 37px;
  width: 230px;
  padding: 8px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #262626;
}
hr {
  background-color: #dbdbdb;
  height: 1px;
  border: none;
}
.profile-drowndown-sec:hover {
  background-color: #fafafa;
}
/* 
.profile-drowndown-tip:hover {
} */

.profile-container {
  width: 975px;
  padding: 30px 20px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* profile info */
.profile-info-container {
  width: 935px;
  margin: 0 0 44px;
  display: flex;
  color: #262626;
}
.profile-img {
  width: 291.67px;
  height: 170px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}
.profile-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile-info {
  width: 613.33px;
  height: 170px;
  color: #262626;
}
.profile-username {
  width: 100%;
  height: 40px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  color: #262626;
}
.profile-username h2 {
  font-size: 28px;
  font-weight: 300;
}
.profile-username span {
  width: 89.2px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 9px;
  margin-left: 20px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.profile-username img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.profile-info-pff {
  width: 100%;
  height: 18px;
  margin: 0 0 20px;
}
.profile-info-pff span {
  font-size: 16px;
}

.profile-name {
  width: 100%;
}
.profile-name h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.profile-name span {
  font-size: 16px;
  color: #8e8e8e;
  line-height: 24px;
}
.profile-name a {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #00376b;
  text-decoration: none;
}

/* highlight container */
.highlight-wrapper {
  width: 100%;
  height: 130px;
  display: flex;
  margin-bottom: 50px;
}
.highlight-wrapper li {
  width: 24px;
  height: 100%;
  list-style: none;
}

.highlight-container {
  width: 125px;
  height: 100%;
}
.highlight-it {
  width: 115px;
  height: 100%;
  padding: 10px 15px;
}
.highlight-outline {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e6e6e6;
}
.highlight-outline img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
}
.highlight-text {
  width: 85px;
  height: 33px;
  padding: 15px 0 0;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #262626;
}
.profile-nav-container {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dbdbdb;
  /* background-color: #0095f6; */
}
.profile-nav-sec {
  height: 100%;
  margin-right: 60px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
.profile-nav-img {
  fill: #8e8e8e;
  color: #8e8e8e;
}
/* profile post */
.profile-post-container {
  width: 935px;
  /* background-color: #565656; */
  display: flex;
  flex-wrap: wrap;
}
.profile-post {
  width: 293px;
  height: 293px;
  background-color: #262626;
  margin: 0 0px 28px 0;
}
.profile-post-margin {
  width: 293px;
  height: 293px;
  background-color: #262626;
  margin: 0 28px 28px 28px;
}
.profile-post-margin:hover,
.profile-post:hover {
  opacity: 0.95;
}
.profile-post-likecount {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.profile-post-likecount:hover {
  opacity: 1;
  /* background-color: #0095f6; */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.profile-post-likecount span {
  /* background-color: #0095f6; */
  display: flex;
  font-size: 16px;
  font-weight: 600;
}
/* Profile Saved */
.profile-saved-text {
  width: 935px;
  height: 62px;
  /* background-color: #0095f6; */
}
.profile-saved-text p {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 30px;
}
.profile-igtv {
  width: 935px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  /* background-color: #262626; */
}
.profile-igtv h2 {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 500;
}
.profile-igtv button {
  width: 97.89px;
  height: 30px;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: 550;
  color: #ffffff;
  background-color: #0095f6;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* home page */
.home-wrapper {
  width: 935px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  /* background-color: #262626; */
  /* position: relative; */
}
.home-left {
  width: 614px;
  margin-right: 28px;
  /* background-color: #0095f6; */
}
.home-right {
  width: 293px;
  height: 840px;
  position: fixed;
  margin-left: 642px;
  /* right: 0; */
  /* background-color: #00376b; */
}
.home-right-user-profile {
  width: 100%;
  height: 56px;
  margin-top: 22px;
  display: flex;
}
.home-right-user-profile img {
  width: 56px;
  height: 56px;
  margin-right: 6px;
  border-radius: 50%;
}
.home-right-user-profile div {
  width: 187.53px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-right-suggestion {
  width: 100%;
  height: 291px;
  margin-bottom: 12px;
  margin-top: 18px;
}
.home-right-suggestion-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 0;
}
.home-right-copyright {
  width: 100%;
  height: 106px;
  padding-bottom: 38px;
}
.home-right-copyright ul {
  font-size: 11px;
  color: #c7c7c7;
  margin-bottom: 16px;
}
.home-right-copyright ul a {
  color: #c7c7c7;
  text-decoration: none;
}
.home-right-copyright ul a::after {
  content: "\2022";
  margin: 0 2px;
}
.home-right-copyright div {
  font-size: 11px;
  color: #c7c7c7;
}

/* story container */
.story-wrapper {
  width: 100%;
  height: 118px;
  padding: 16px 0;
  margin-bottom: 24px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
}
.story-wrapper::-webkit-scrollbar {
  display: none;
}
.story-wrapper-button-prev {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 115px;
}
.story-wrapper-button-next {
  width: 45px;
  height: 45px;
  margin-left: 569px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 115px;
}
.story-prev {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.story-next {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px; */
}
.story-wrapper-li {
  width: 10px;
  height: 100%;
}
.story-wrapper-li li {
  width: 10px;
  height: 100%;
  list-style: none;
}

.story-container {
  width: 80px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.story-outline {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    #ffa95f 5%,
    #f99c4a 15%,
    #f47838 30%,
    #e75157 45%,
    #d92d7a 70%,
    #cc2a92 80%,
    #c32e92 95%
  );
}
.story-outline img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  box-sizing: border-box;
  /* border: 5px solid #ffffff; */
}
.story-username {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: #262626;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

/* post card home */
.post-card-container {
  width: 614px;
  margin-bottom: 60px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.post-card-header {
  width: 100%;
  height: 60px;
  padding: 16px;
  display: flex;
}
.post-card-header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.post-card-header-innerdiv {
  width: 536px;
  height: 28px;
  margin-left: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-card-header-innerdiv a {
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-weight: 500;
}
.post-card-header-innerdiv button {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
.post-card-img {
  width: 100%;
  overflow: hidden;
}
.post-card-img img {
  width: 100%;
}
.post-card-icons {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.post-card-icons button {
  width: 40;
  height: 40;
  padding: 8px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.post-card-like-v {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 8px;
}
.post-card-like-v span {
  color: #262626;
  font-size: 14px;
  font-weight: 500;
}
.post-card-comment-sec {
  width: 100%;
  padding: 0 16px;
}
.post-card-caption,
.post-recent-comment {
  width: 100%;
  font-size: 14px;
  color: #262626;
}
.post-card-caption span,
.post-recent-comment span {
  font-weight: 500;
}
.post-card-comment-sec a {
  font-size: 14px;
  color: #8e8e8e;
  text-decoration: none;
}
.post-card-upload-time {
  width: 100%;
  height: 19px;
  margin: 0 0 4px;
  padding-left: 16px;
  font-size: 10px;
  color: #8e8e8e;
  line-height: 18px;
}
.post-card-add-comment {
  width: 100%;
  height: 56px;
  margin-top: 4px;
  padding: 0 16px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
}
.post-card-add-comment form {
  width: 582px;
  height: 40px;
  display: flex;
}
.post-card-add-comment-button {
  width: 40px;
  height: 40px;
  padding: 8px 16px 8px 0;
  background: none;
  border: none;
  outline: none;
}
.post-card-add-comment form input {
  width: 514.83px;
  background: none;
  overflow-y: auto;
  border: none;
  outline: none;
}

/* explore page */
.explore-post-wrapper {
  margin-top: 53px;
  width: 975px;
  padding: 30px 20px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
