@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.insta-written-logo {
  display: flex;
  justify-content: center;
  margin: 7px 0 10px 0;
}

.login-card-1 {
  width: 350px;
  height: 380px;
  border: 1px solid #dedede;
  padding: 10px 0;
  margin: 15px 0 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}
.login-card-2 {
  width: 350px;
  height: 63px;
  border: 1px solid #dedede;
  padding: 10px 0;

  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
}
.login-card-2-text {
  margin: 12px 15px 15px 15px;
}
.login-wrapper-main {
  min-height: calc(100% - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 348px;
  height: 263px;
  margin-top: 13px;
}
.login-input {
  width: 268px;
  height: 38px;
  padding: 16px 0 2px 8px;
  font-size: 12px;
  font-family: "San Francisco";
  color: #262626;
  background-color: #fafafa;
  border: 1px solid #dedede;
  outline: none;
  border-radius: 3px;
}

.input-div {
  position: relative; /*  make label relate to div  */
  padding-top: 10px; /*  make space for label      */
  margin-bottom: -4px;
}
.floating-label {
  font-size: 12px;
  color: #989ba1;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 21px;
  transition: 0.1s ease all;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  font-size: 10px;
  color: #989ba1;
  top: 14px;
  margin-bottom: 5px;
}

.login-input:focus {
  border: 1px solid #989ba1;
}

.login-button {
  width: 268px;
  height: 30px;
  margin: 18px 0 10px 0;
  padding: 5px 9px;
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}
.login-button:disabled,
.login-button[disabled] {
  background-color: #b2dffc;
}
.login-or-wrapper {
  width: 268px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-self: center;
  margin: 10px;
}
.login-or {
  font-size: 13px;
  margin: 0 18px;
  color: #8e8e8e;
  font-weight: 600;
}
.login-or-line {
  flex-grow: 1;
  min-width: 107.05;
  height: 1px;
  align-self: center;
  background-color: #dbdbdb;
}
.login-fb {
  width: 268px;
  height: 20px;
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-fb-text {
  text-align: center;
  color: #385185;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
}
.login-forget-pass {
  width: 348px;
  height: 15px;
  font-size: 12px;
  color: #00376b;
  text-align: center;
}

.signup-card-1 {
  width: 350px;
  height: 542px;
  border: 1px solid #dedede;
  padding: 10px 0;
  margin: 15px 0 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}
.signup-text1 {
  width: 268px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: #8e8e8e;
  margin: -15px 40px 10px;
}
.signup-fb {
  width: 268px;
  height: 32px;
  margin: 14px 0;
  /* padding: 15px 9px; */
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.signup-fb-text {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  align-self: center;
}
.signup-tc {
  width: 268px;
  /* height: 32px; */
  margin: -22px 40px;
  color: #8e8e8e;
  font-size: 12px;
  text-align: center;
}
.signup-tc-bold {
  font-weight: 500;
}
